@charset "UTF-8";

/*
 Main Page
*/

@media only screen and (min-width: 320px) {
    .app > header {
        position: fixed;
        z-index: 5;
        width: 100%;
        background-color: #fff;
        height: 67px;
        padding: 0.25rem 0 0.5rem;
        text-align: center;
        top:0;
    }

    .app h1.text-center {
        text-align: center!important;
        padding: 1.2rem 0;
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 60px;
        position: relative;
        right: 10px;
    }

    div.logo {
    position: absolute;
    width: 80px;
    text-align: center;
    display: inline-block;
    margin-left: -10px;
    }

    img.logo {
    top:0.5rem;
    width: 60px;
    margin-left: -15px;
    }

    p.text-center.enter {
        position: absolute;
        width: 100%;
        bottom: 3rem;
    }

    p.text-center.enter > a.btn.btn-primary {
        text-align: center;
        font-size: 1.25rem;
        width: 300px;
    }

    /*
     Take Photo Page
    */
    form.add-photo {
        padding-top: 12rem;
        padding-bottom: 1rem;
        /*outline: solid 1px blue;*/
        display: block;
        position: relative;
        z-index: 1;
    }

    form.add-photo > div {
        height: 0;
        position: relative;
        z-index: 1;
        width: 200px;
        text-align: center;
        margin: auto;
    }

    form.add-photo > div > button {
        position: absolute;
        width: 180px;
        height: 180px;
        border: dashed 3px #0513c1;
        background-color: #fff;
        border-radius: 7px;
        text-align: center;
        left: 10px;
        top: 42px;
    }

    form.add-photo > div > button > span#camera {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        top: 17px;
        left: 34px;
        color: #0513c1;
        cursor: pointer !important;
    }

    form.add-photo > div::after {
        position: absolute;
        content: "Take Photo";
        font-size: 20px;
        font-weight: bold;
        top: 175px;
        left: 49px;
        color: #0033c3;
    }

    form.add-photo > p {
        padding-bottom: 0;
    }

    form.add-photo input[type="file"] {
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 5rem 3rem;
        border: dashed 3px #2585e8;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        position: relative;
        z-index: 2;
        opacity: 0;
        cursor: pointer !important;
    }

    form.add-photo > img {
        margin: 2rem auto 1rem;
        width: 300px;
        height: auto;
        position: relative;
        z-index: 5;
        top: -1.5rem;
    }

    form.add-photo > img.preview {
        padding-top: 2rem
    }

    button.submit {
        z-index: 3;
        width: 200px;
        display: block;
        margin: 1rem auto;
    }

    .app > footer {
        position: fixed;
        z-index: 6;
        width: 100%;
        padding: 1rem 1rem 0;
        bottom: 0;
        background-color: #fff;
        border-top: solid 1px #000;
    }

    /*
     Ingredients
    */

    div.form-group.items {
        padding-top: 7.5rem;
        padding-bottom:3rem;
    }

    form.form-group.items {
        padding-top: 9rem;
        padding: 1rem;
        overflow-y: scroll;
        height: 425px;
    }

    div.item {
        position: relative;
        margin-bottom: 0.5rem;
        height: 120px;
        padding-top: 1rem;
        border-top: solid 1px #ccc;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/Table_grapes_on_white.jpg');
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: 2px 50%;
    }

    input.item-name {
        padding: 0.65rem 3.5rem 0.65rem 0.5rem;
        position: absolute;
        width: 232px;
        top: 1.75rem;
        margin-left: 1rem;
        border: solid 1px #000;
        border-radius: 7px;
    }

    div.item > p.item-name {
        position: absolute;
        left: 90px;
        top: 3rem;
        font-weight: bold;
    }

    button.delete {
        position: absolute;
        top: 2.5rem;
        right: 0.5rem;
        width: 50px;
        height: 48px;
        background-color: #fff !important;
        border: none;
    }

    p.form-options > .btn {
        width: 49%;
        padding: 0.75rem 0;
    }

    /*
     Recipe List Page
     */

    .recipe {
        clear:both;
    }

     .recipe h3 {
        margin-left: 1rem;
    }

    .recipe img, .recipe h3, .recipe p.description {
        float: left;
    }

    .recipe img {
        width: 100px;
    }

    p.description {
        margin-top: 1rem;
    }

    /*
     Recipe Page
    */

    section.recipe,
    section.recipe-list {
        padding: 1rem 1rem 2rem;
    }

    section.recipe > header,
    section.recipe-list > header {
        padding: 1rem 0;
    }

    .ingredients ul > li,
    .instructions ol > li {
        padding: 0.5rem 1rem 0.5rem 0;
    }

    .instructions ol > li {
        list-style: bold;
    }

    .ingredients > h3, .instructions > h3 {
        float: none;
    }

    .ingredients h3,
    .instructions h3 {
        margin-bottom: 1rem;
    }

    .actions {
        position: fixed;
        z-index: 7;
        bottom: 0.5rem;
        left: 2.5%;
    }

    div.input-bar {
        text-align: center !important;
    }
}

@media only screen and (min-width: 360px) {
    p.text-center.enter > a.btn.btn-primary {
        text-align: center;
        width: 320px;
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 480px) {

    div.form-group.items {
        padding-top: 9rem;
    }

    div.input-bar {
        background-color: #fff;
        width: 100%;
        text-align: left !important;
        padding: 0.5rem 0;
        position: fixed;
        z-index: 5;
        top: 4.15rem;
        border-bottom: solid 1px #ccc;
    }

    div.input-bar input[type="text"] {
        margin-right: -3px;
        margin-left: 2.5%;
        height: 38px;
        border-radius: 7px 0 0 7px;
        border: solid 1px #666;
        padding-left: 0.5rem;
    }

    div.input-bar button.btn {
        margin-top: -1px;
        border-radius: 0 7px 7px 0 ;
    }

    div.item {
        position:relative;
        width: 30%;
        display: inline-block;
        height: 300px;
        margin-left:auto;
        margin-right:auto;
        border: solid 1px #ccc;
        border-radius: 7px;
        margin-left: 2.5%;
        margin-top:2%;
        margin-bottom: 4%;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/bb/Table_grapes_on_white.jpg');
        background-size: cover;
    }

    div.item  > .item-image {
        position: absolute;
        bottom:-10px;
        left: -8px;
        border: solid 3px black;
        background-color: #fff;
        border-radius:50px;
/*         padding: 1rem; */
    }

    div.item > p.item-name {
        position: absolute;
        left: 1rem;
        top:0.5rem;
        font-weight: bold;
    }

    div.item > button {
        position:absolute;
        border-radius: 50px;
        top:0;
        right: 0;
        border: solid 1px #d40808;
        background-color: #d40808;
        border: solid 1px #fff;
        background-color: #fff;
    }

}

div.input-bar {
    background-color: #fff;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
    position: fixed;
    z-index: 5;
    top: 4.15rem;
    border-bottom: solid 1px #ccc;
}

div.input-bar input[type="text"] {
    margin-right: -3px;
    margin-left: 2.5%;
    height: 38px;
    border-radius: 7px 0 0 7px;
    border: solid 1px #666;
    padding-left: 0.5rem;
}

div.input-bar button.btn {
    margin-top: -1px;
    border-radius: 0 7px 7px 0 ;
}

div.item > button > span.fas.fa-times {
    color: #d40808;
}